{{#> layout}}
<div>
  <h1>Handlebars Example</h1>

  <div style="display: flex; gap: 8px">
    {{#each pages}}
      <a href="?page={{page}}" style="padding: 8px">
        {{#if current}}
          <b>
            <u>{{page}}</u>
          </b>
        {{else}}
          {{page}}
        {{/if}}
      </a>
    {{/each}}
  </div>

  <table style="table-layout: auto">
    <thead>
      <tr>
        <th>ID</th>
        <th>TITLE</th>
        <th>COMPLETED</th>
      </tr>
    </thead>

    <tbody>
      {{#each todos}}
        <tr>
          <td>{{id}}</td>
          <td>{{title}}</td>
          <td>
            {{#if completed}} YES {{else}} NO {{/if}}
          </td>
        </tr>
      {{/each}}
    </tbody>
  </table>
</div>
{{/layout}}
