{{#> layout}}
<div>
  <h1>Handlebars Example</h1>

  <div>
    {{#each pages}}
      <a href="?page={{page}}"><button
          type="button"
          {{#if current}} style="background-color: var(--focus)" {{/if}}
        >
          {{page}}
        </button></a>
    {{/each}}
  </div>

  {{! つねに visibility=hidden になってしまう。 }}
  {{! React 版と揃えるため要素は残してある。 }}
  <progress style="visibility: hidden">
    Loading...
  </progress>

  <table style="table-layout: auto">
    <thead>
      <tr>
        <th>ID</th>
        <th>TITLE</th>
        <th>COMPLETED</th>
      </tr>
    </thead>

    <tbody>
      {{#each todos}}
        <tr>
          <td>{{id}}</td>
          <td>{{title}}</td>
          <td>
            {{#if completed}} YES {{else}} NO {{/if}}
          </td>
        </tr>
      {{/each}}
    </tbody>
  </table>
</div>
{{/layout}}
